# Ignore everything in the root directory, except the whitelisted items below
/*
# Allow .config directory in general
!.config/
# Track .gitignore itself
!.gitignore
# Track .gitmodules
!.gitmodules
# Add git files
!.gitconfig
# Add vim
!.vimrc
!.vim/
# Custom colours list
!.colours
