[core]
	editor = vim
	quotepath = false
[user]
	name = Jan Henke
	email = jhenke@hugendubel-digital.de
	signingkey = 435B925816197C8F21C5888DF42C9B5728C9F3A4
[color]
	ui = auto
[push]
    default = simple
[merge]
	tool = vimdiff
[log]
#	showSignature = true
[alias]
	br = branch
	co = checkout
	ci = commit
	fe = fetch
	rb = rebase
	pl = pull
	ps = push
	rs = restore
	sm = submodule
	st = status
	sw = switch
	wt = worktree
[branch "master"]
	rebase = merges
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
