[core]
	editor = vim
	quotepath = false
[user]
	name = Jan Henke
	email = jhenke@hugendubel-digital.de
	signingkey = 1F6B23CE
[color]
	ui = auto
[push]
    default = simple
[merge]
	tool = vimdiff
[log]
	showSignature = true
[alias]
	br = branch
	co = checkout
	ci = commit
	fe = fetch
	rb = rebase
	pl = pull
	ps = push
	sm = submodule
	st = status
[branch "ebook-master"]
	rebase = preserve
[branch "ebook-dev"]
	rebase = preserve
[branch "ebook-fin"]
	rebase = preserve
[branch "ebook-live"]
	rebase = preserve
